@font-face {
    src: url("Berkshire_Regular.ttf");
    font-family: berkshire;

}

* {
    padding: 0;
    box-sizing: border-box;
  
   
}
body {
    margin: 0px 0px;


}
footer {
    z-index: 5;
    position: absolute;

    bottom: 0em;
    color:red;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;

}
footer a{
    color: white;
    text-decoration:none;
}



/*--------+++++++++++++-------loading animation starting--------++++++++++++---------*/



#preloader {
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.preloader_box {

    width: 100px;
    padding: 10px;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.preloader_box h1 {
    margin-left: -30px;
    padding: 10px;
    color: whitesmoke;
}



.preloader_set1 {
    position: relative;
    animation: preloading_layer1 5s infinite linear;
    padding: 18px;
    display: inline-block;
}

.preloader_set2 {
    position: relative;
    animation: preloading_layer2 5s infinite linear;
    padding: 18px;
    display: inline-block;
}

.preloader_set1:nth-child(1) , .preloader_set2:nth-child(1) {
    border-radius: 50px 0px 0px 0px;
    background-image: linear-gradient(to top, red, green);
}

.preloader_set1:nth-child(2) , .preloader_set2:nth-child(2) {
    border-radius: 0px 50px 0px 0px;
    background-image: linear-gradient(to top, red, green);
}

.preloader_set1:nth-child(3) ,.preloader_set2:nth-child(3) {
    border-radius: 0px 0px 0px 50px;
    background-image: linear-gradient(to bottom, red, green);
}

.preloader_set1:nth-child(4) , .preloader_set2:nth-child(4) {
    border-radius: 0px 0px 50px 0px;
    background-image: linear-gradient(to bottom, red, green);
}




@keyframes preloading_layer1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes preloading_layer2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}


/*-------++++++++++++++------loading animation end------++++++++++++++++------*/




/*----++++++++++++++++-----navgation bar start---------+++++++++++++++++++++-------*/

.links a {

    padding: 0px 1vw;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    font-family: berkshire, sans-serif;
    font-size: 1.2vw;

}

nav {


    position: sticky;
    z-index: 9;
    font-size: 1.2vw;
    top: 0px;
    background-color: rgba(66, 56, 56, 0.4);
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0 0px 500px 500px;
    font-family: berkshire, sans-serif;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 10px white;
}

.links {

    position: sticky;
    display: flex;
    padding: 0px;
    margin: 0.5vw 0;
    overflow: visible;


}

.links li {


    border-radius: 3vw 0px 3vw 0px;
    border: 2px solid red;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px 2vw 0px 0px;
    transition: 0.5s;
    background-color: aqua;
    cursor: pointer;

}

.links li:hover , .links .active {
    background-color: black;
    color: rgb(247, 247, 14);
    box-shadow: 0px 0px 15px 0px blue;
}

.active a , .links li:hover a {
    color: rgb(247, 247, 14);
}



/*-----+++++++++++++-----navegation bar end ---------+++++++++++++++--------*/




/*----------+++++++++++---------contact styling start-------------++++++++++++++++-----------*/

#contact_cover {

    position: fixed;
    transform-origin:0% 0%;
    z-index: 9;
    width: 20vw;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    left: 50%;
    border-radius: 20%;
    transform: scale(0) translate(-50% , 0 );
    overflow: hidden;


}

#contact_wrap img {
    
    width:3vw;
    border-radius: 10px;
    z-index: 50;
    position: relative;
    transition: 1s;
    margin-right: 10px;
}

#contact_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20vw;
    text-align: center;
    transform: translate(-50%, -50%);
    transition-duration: 1s;
}

#contact_wrap img:hover {
    box-shadow: 0px 0px 10px 5px white;
    background-color: rgba(255, 255, 255, 0.8);
}

#contact_close svg {
    width: 30px;
    height: 30px;

}

#contact_close {

    width: 30px;top:1%;right:1%;
    height: 30px;
  
    transition: 1s;
    position: absolute;
    cursor: pointer;
    z-index: 5;

}


form button:disabled {

    color: rgb(255, 255, 255);
    background-color: rgb(81, 85, 89);
    cursor: not-allowed;

}

#contact_submit:hover {
    background-color: rgb(8, 53, 216);
    color: rgb(113, 227, 20);
    transition: 0.5s;

}

#contact_form {
   
    transform: scale(1);
    transition: 1s;
}
#contact_name{
width: 10vw;

}
#contact_message{
    width: 15vw;height: 5vw;

}
#contact_form #contact_name , #contact_form #contact_message {
    border: 2px solid black;
    border-radius: 5px;

}

#contact_form #contact_name:focus , #contact_form #contact_message:focus {

    outline: 2px solid blue;
    box-shadow: 0 0 5px 5px rgb(0, 255, 251);
}


/*-----------+++++++++++++++++--------contact styling end-------------+++++++++++++++-----------*/



/*---------++++++++++++++++-----hire me styling start------+++++++++++----------*/



.links .hire {

    cursor: pointer;
    padding: 0px 1vw;
    border-radius: 100px;
    border: 3px outset blue;
    background-color: red;
    color: aliceblue;
    z-index: 1;

}

.hire:active {

    color: rgb(0, 0, 0);
    border-style: inset;
}





#hire_cover {

    transform: scale(0);
    z-index: 6;
    border-radius: 100%;
    bottom: 0px;
    transform-origin: 50vw 00vh;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    transition: 1.5s;
    background-color: rgba(0, 0, 0, 0.5);



}

#hire_wrap {

    margin-top: 4%;
    scale: 1;
    transition: 5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#hire_wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 2s;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 150%;
}
#hire_me_rebbun img{
    top:-30%;
}
#hire_cover #hire_wrap form {
    position: relative;
    box-sizing: border-box;
    padding: 10px 50px;
    transition: 2s;
    line-height: 40px;
    z-index: 10;
}

#hire_wrap input , #hire_wrap textarea , #hire_wrap select {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#hire_wrap input {
    border: 2px solid black;
}

#hire_wrap input:focus {
    outline: 2px solid blue;
    box-shadow: 0px 0px 5px 5px rgb(90, 223, 37);
}

#hire_wrap #hire_submit {

    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border: none;
    position: absolute;
    bottom: -25%;
    left: 83%;
    width: 25%;
    height: 30%;
    transition: 1s;
    transform: rotate(-45deg);

}

#hire_wrap #hire_submit p {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    position: relative;
    display: inline;
    font-size: 0.7em;
    top: -18%;
    transition: 1s;
}

#hire_wrap #hire_submit img {
    opacity: 0.8;
    transition: 1s;
    position: absolute;
    z-index: -1;
    width: 100%;
}

#hire_wrap #hire_submit:hover {
    width: 28%;
    height: 33%;
    transform: rotate(-41deg);


}

#hire_wrap #hire_submit:hover img {
    opacity: 1;

}

#hire_wrap #hire_submit:hover p {
    font-size: 0.9em;
}

#hire_form_close {
    position: fixed;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: burlywood;
    bottom: -25%;
    left: 50%;
    font-size: 1.2em;
    transform: translate(-50%);

}

#hire_form_close:hover {
    background-color: red;

}




/*------++++++++++++-----hire me styling end--------+++++++++++++++++------------*/




/*------+++++++++++++++-----share styling start -------+++++++++++++++++--------*/



#share_img {

    position: relative;
    z-index: 15;
    cursor: pointer;
    box-sizing: content-box;
    margin: 0 0 0 1vw;
    transition: 2s;
    width: 2vw;
    height: 2vw;
    outline: 0.5px solid black;
    border-radius: 200%;

}


#share_img #share_svg {
    transition: 2s;
}



#share_cover {
    z-index: 15;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 8%, 95% 8%);
    position: fixed;
    overflow: hidden;
    width: 30vw;
    height:20vw;transform: scale(0);
    transition: 1s;
    border-radius: 5vw 0px 20px 20px;
    background-color: rgba(61, 61, 61, 0.8);

transform-origin: 100% 0%;
}

#share_wrap {

    position: absolute;
    display: inline-block;
    width: 70%;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);



}

#share_wrap a {
    text-decoration: none;
}

#share_wrap .share_items img {

    border-radius: 10px;
    margin: 1vw;
    width: 4vw;
    transition-duration: 0.7s;
    transition-delay: 0.2s;

}

#share_copy_area input::selection {
    color: rgb(224, 0, 0);
    background-color: rgb(172, 172, 248);
}

#share_wrap #share_copy_area {

    display: flex;
    margin: auto;
    width: 100%;
    position: relative;
    height: min-content;
    border-radius: 100px;
    font-size: 1em;
}

#share_text_place {

    border-radius: 100px 0px 0px 100px;
    border: 3px solid black;
    padding-left: 5px;
    height: max-content;
    outline: none;
    width: 85%;

}

#copyimgcontinar {
    text-align: center;
    overflow: hidden;
    width: 15%;
    background-color: black;
    border-radius: 0px 100px 100px 0;
}

#share_wrap #share_copy_area p {
    font-size: 80%;
    position: relative;
    overflow: hidden;
    background-color: black;
    box-sizing: inherit;
    margin: 0;
    cursor: pointer;
    padding: 3px 2px;
    color: lime;
}

#share_wrap #share_copy_area p:active {
    color: rgb(129, 109, 255);
    font-weight: bold;
}

.share_items img:hover {

    background-color: aliceblue;
    box-shadow: 0px 0px 10px 5px white;

}



/*------+++++++++++++-----share styling end -------+++++++++++--------*/




/*-------+++++++++++--------star rating start----+++++++++++++++----*/

#stars {
    position: fixed;
    right: 1vw;
    z-index: 5;
    margin-top: 2vh;
    overflow: hidden;
    animation: show_stars 10s linear 5;
    width: 0;

}

@keyframes show_stars {
    0% {
        width: 0;
    }

    50% {
        width: max-content;
    }

    100% {
        width: max-content;
    }

}

#stars svg {
    width: 3vw;
    height: 3vw;
}

#stars .feed_star {
    fill: gray;
}

#stars svg path {
    stroke: white;

}

#stars p {
    text-align: center;
    color: rgb(109, 248, 3);
    font-family: sans-serif;
    margin: 0;
    font-weight: bol;
    border-radius: 100px;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 2vw;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 102, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}


/*-----------star submited note animation start ---------------*/

#star_note_wrap .star_svg {
    position: absolute;

}

#star_note_wrap {
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 45vw;
    transition: 1s;
    background-color: gb(255, 238, 0);
    position: absolute;
}

#star_note_cover {
    position: fixed;
    z-index: 5;
    overflow: hidden;
    display: none;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
}

#star_note_wrap svg:nth-child(1) {
    top: -75vh;
    right: 0%;
    width: 10vw;
    height: 10vw;
   
}

@keyframes star1 {
    0% {
        top: -75vh;

    }

    20% {
        top: 0vh;

    }

    40% {
        top: 0vh;

    }

    60% {
        top: 0vh;

    }

    80% {
        top: 0vh;

    }

    100% {
        top: 0vh;

    }
}

#star_note_wrap svg:nth-child(2) {
    top: 125vh;
    left: 0%;
    width: 10vw;
    height: 10vw;


}

@keyframes star2 {
    0% {
        top: 125vh;
    }

    20% {
        top: 125vh;

    }

    40% {
        top: 0;

    }

    60% {
        top: 0;

    }

    80% {
        top: 0;

    }

    100% {
        top: 0;

    }
}

#star_note_wrap svg:nth-child(3) {
    right: -100%;
    width: 15vw;
    height: 15vw;


}

@keyframes star3 {
    0% {
        right: -100%;

    }

    20% {
        right: -100%;

    }

    40% {
        right: -100%;
    }

    60% {
        right: 10%;

    }

    80% {
        right: 10%;

    }

    100% {
        right: 10%;

    }
}


#star_note_wrap svg:nth-child(4) {
    left: -100%;
    width: 15vw;
    height: 15vw;


}

@keyframes star4 {
    0% {
        left: -100%;

    }

    20% {
        left: -100%;

    }

    40% {
        left: -100%;
    }

    60% {
        left: -100%;

    }

    80% {
        left: 10%;

    }

    100% {
        left: 10%;

    }
}

#star_note_wrap svg:nth-child(5) {

    opacity: 0;
    left: 50%;
    transform:scale(20) translate(-5%, 0);

    width: 20vw;
    height: 20vw;
}

@keyframes star5 {

    20% {
        
        transform:scale(20) translate(-5%, 0);

    }

    40% {
        transform:scale(20) translate(-5%, 0);
        opacity: 0;

    }

    60% {
        transform:scale(20) translate(-5%, 0);
    }


    80% {
        transform:scale(20) translate(-5%, 0);
        opacity: 0;
    }

    98% {
        transform: scale(2) translate(-5%, 0);

    }

    100% {
        
        transform:scale(1) translate(-50%, 0);
        opacity: 1;


    }
}



/*-----------star submited note animation start ---------------*/



/*-------++++++++++---------star rating end-------+++++++++++++++-------*/


/*-----++++++++++++------ submit animation  start-------++++++++++++++-------*/


#submit_notecover {
    transform: scale(0);
    border-radius: 100%;
    overflow: hidden;
    transition: 1s;
    z-index: 5;
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(43, 45, 30, 0.866);

}

#submit_notewrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#submit_ufo {


    /*animation: sufo 3s ease-in 2;*/
    position: absolute;
    top: 130%;
    left: 0%;

}

@keyframes sufo {
    0% {
        top: 100%;
        left: 0;
    }

    50% {
        left: 50%;
        top: 10%;

    }

    75% {
        left: 50%;
        top: 10%;


    }

    100% {
        left: 100%;
        top: 10%;
    }
}

#submit_ufo_img {
    width: 15vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#ufo_light {
    top: 6vw;
    left: 50%;
    transform: translate(-50%);
    width: 0vw;
    position: absolute;
    opacity: 30%;
    height: 0vh;
 
}

@keyframes ufo_light {

    50% {
        height: 0vh;
        width: 0vw;

    }

    60% {
        height: 44vh;
        width: 13vw;
    }

    75% {
        height: 0;
        width: 0vw;

    }
}

#submit_bord {
    position: relative;
    top: 0vh;
    transform: scale(1);

   
}

@keyframes aline {
    50% {
        top: 0;
        transform: scale(1);

    }

    75%,
    100% {
        top: -30vh;
        transform: scale(0);
    }




}

#submit_bord img {

    width: 10vw;
}

#submit_bord p {
    font-size: 1.8vw;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 62%;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*-----++++++++++++------ submit animation  end-------++++++++++++++++++-------*/





/*+++++++++*******++++++++++++------ midia with max-width:1000px start-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:1000px start-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:1000px start-----++++++++++++*********+++++++++++*/




@media screen and (max-width:1000px){

    /*---------contact  styling start (1000px)------------*/
#contact_cover {

    width: 40vw;
    height: 50vw;
    border-radius: 20%;
}
#contact_wrap img {    
    width:5vw;   
}

#contact_close svg {
    width: 70%;
    height: 70%;
}
#contact_name{

    width: 25vw;
    
    }
    #contact_message{
        width: 30vw;height: 10vw;
    
    }
    #contact_wrap{
        width: 70vw;
       
    }

    #contact_wrap {

       width: 40vw;
    }

/*---------contact  styling end (1000px)------------*/

/*-----------share styling start (1000px) ---------------*/

#share_cover{
    width: 35vw;
    height: 25vw;
}

#share_wrap .share_items img{
    width:5vw;
}

#share_text_place {
    width: 80%;

}

#copyimgcontinar {
    
    width: 20%;
}

#share_wrap #share_copy_area p {
    font-size: 50%;

}
#share_copy_area{
    width: 150%;background-color: blue;
}

#share_text_place {
    font-size: 0.6em;
}

/*-----------share styling end (1000px) ---------------*/

}

/*+++++++++*******++++++++++++------ midia with max-width:1000px end-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:1000px end-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:1000px end-----++++++++++++*********+++++++++++*/


/*+++++++++*******++++++++++++------ midia with max-width:600px srart-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:600px srart-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:600px srart-----++++++++++++*********+++++++++++*/


@media screen and (max-width:600px) {

/*-------navication style start (600px)-----------*/

 *,.links .hire, #share_wrap #share_copy_area p,
 #contact_close{
    cursor:default;
}

    .links a , .share , .hire {
        font-size: 2.5vw;
    }

    .links li {
        cursor:default;
        border-radius: 5vw 0px 5vw 0px;
        margin: 0px;
    }

    #share_img {cursor:default;
        width: 5vw;
        height: 5vw;
    }

    .links li a {
        padding: 0px 2vw;
    }

    nav {
        cursor:default;
        border-radius: 0 0 5vw 5vw;
    }

    .links {
        margin: 1vh 0 1vh 0vw;
    }
  
/*-------navication style end (600px)-----------*/


/*-------------------contact styling start 600px------------------------*/

#contact_cover {

    width: 60vw;
    height: 80vw;
    border-radius: 20%;
}
#contact_wrap img {    
    width:10vw;   cursor:default;
}

#contact_close svg {
    width: 70%;
    height: 70%;
}
#contact_name{

    width: 40vw;
    
    }
    #contact_message{
        width: 50vw;height: 15vw;
    
    }
    #contact_wrap{
        width: 70vw;
       
    }

/*-------------------contact styling end (600px) ------------------------*/


    
    /*-----------share styling  start (600px)---------*/

    #share_cover {

        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 10%, 95% 10%);
        border-radius: 10vw 0px 20px 20px;
        width: 60vw;
        height: 50vw;
    }

    #share_wrap .share_items img {
        border-radius: 5px;
        width: 9vw;

    }


    #share_text_place {
        font-size: 0.6em;
    }


    #share_copy_area #copyimgcontinar p {
        padding: 4px 0;
        font-size: 0.5em;
    }




    /*-----------share styling end (600px)---------------*/
    




  
    /*--------------hire me styling start (600px)------------*/



    #hire_wrap img {
        width: 97vw;
    }

    #scroll_img {

        height: 125%;
    }

    #mobile_no,
    #ctc {

        width: 65%;
    }

    #hire_cover #hire_wrap form {
        padding: 0px 0px;
        line-height: 32px;
    }

    #hire_form_close {
        z-index: 10;
        bottom: -20%;

    }

    #hire_me_rebbun img{
        top:-25%;
    }



    /*--------------hire me styling end (600px)--------------*/





    /**-------------star rating start (600px)----------------*/

    #stars svg {
        width: 5vw;
        height: 5vw;
    }

    #stars p {
        font-size: 3vw;
    }

    /***********---star rating end (600px)--------*/


  
    /*------- form submit anmimation start (600px)-----------------*/


    #submit_ufo {
        transform: rotate(-45deg);
    }


    @keyframes sufo {
        0% {
            top: 100%;
            left: 0;
        }

        50% {
            left: 50%;
            top: 25%;
            transform: rotate(0deg);

        }

        75% {
            left: 50%;
            top: 25%;
            transform: rotate(0deg);


        }

        100% {
            left: 100%;
            top: 15%;
            transform: rotate(0deg);
        }
    }

    #submit_ufo_img {
        width: 25vw;
    }

    #ufo_light {
        width: 0vw;
        height: 0vh;
    }

    @keyframes ufo_light {

        50% {
            height: 0vh;
            width: 0vw;

        }

        60% {
            height: 35vh;
            width: 30vw;
        }

        75% {
            height: 0;
            width: 0vw;

        }
    }

    #submit_bord img {
        width: 25vw;
    }

    #submit_bord p {
        font-size: 4vw;
    }


    @keyframes aline {

        50% {
            top: 0;
            transform: scale(1);

        }

        75%,
        100% {
            top: -25vh;
            transform: scale(0);
        }


    }


    /*------- form submit anmimation (600px)-----------------*/
}


/*+++++++++*******++++++++++++------ midia with max-width:600px end-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:600px end-----++++++++++++*********+++++++++++*/
/*+++++++++*******++++++++++++------ midia with max-width:600px end-----++++++++++++*********+++++++++++*/
